<div class="">
  <article class="">
    <h3><%= @doc.title%></h3>
    <section>
      <%= @doc.content%>
    </section>
  </article>
</div>


<%= link_to 'All Docs', docs_path %>
<%= link_to 'Edit', edit_doc_path(@doc) %>
<%= link_to 'Delete', doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"} %>
